/* NORMALIZE */
@import '../../assets/vendors/normalize.css';

/* VARS */
@import '../../assets/scss/_vars.scss';

/* GENERIC */
@import '../../assets/scss/_grid.scss';
@import '../../assets/scss/_hide.scss';
@import '../../assets/scss/_align.scss';
@import '../../assets/scss/_utils.scss';

/* COMPONENTS */
@import '../../components/Header/_Header.scss';
@import '../../components/Main/_Main.scss';
@import '../../components/Weather/_Weather.scss';
@import '../../components/Weather/Weather-Box/_Weather-Box.scss';
@import '../../components/Button/_Button.scss';

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('..././assets/fonts/Helvetica'), url('../../assets/fonts/Helvetica.woff') format('woff');
}

body{
    background-color: $gray-background;
    font-family: Helvetica,Arial,sans-serif;
}

.color{
    &-blue{
        color: $blue;
    }
    &-orange{
        color: $orange;
    }
    &-red{
        color: $red;
    }
}